asgiref=3.8.1
certifi=2024.8.30
charset-normalizer=3.4.0
colorama =0.4.6
Django=5.1.6
idna=3.10
iniconfig=2.0.0
packaging=24.2
pip=24.3.1
pip-revie=1.3.0
pluggy=1.5.0
pytest=8.3.4
python-do=1.0.1
PyYAML=6.0.2
requests =2.32.3
setuptool=75.6.0
sqlparse=0.5.3
tzdata=2025.1
urllib3=2.2.3
wheel=0.45.1